    server {
        listen     	${NGINX_PORT} default_server;
        listen 		[::]:${NGINX_PORT} default_server;

        server_name 	${NGINX_SERVER_NAME};
        charset     	utf-8;

        location /static {
            alias	/code/static;
        }

        location / {
            include     /code/conf/uwsgi_params;
            uwsgi_pass  unix:/code/log/uwsgi.sock;
        }
    }
